* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
    font-family: "Roboto-Regular";
    color: #eaeaea;
    background-color: #26282b;
}

header h1{
    text-align: center;
}
